{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>LDC</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">

</head>
<body>
    {%  include 'tracker/navbar.html' %}
	<div class="container-fluid">
    {% block content %}

    <br><br>
    <div class="head">
        <div class="card card-body">
            <body>
                LIVE DATA
            </body>
        </div>
      </div>
    

    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <h5>OXYD</h5>
            </div>
            <div class="card card-body">
                <table class="table">
                    <tr>
                        <th>PERWGHT</th>
                        <th>TS</th>
                    </tr>

                    {% for i in load_live %}
                        <tr>
                            <td>{{i.perwght}}</td>
                            <td>{{ldl_ts}}</td>
                        </tr>
                        
                    {% endfor %}
                    
                </table>
            </div>
        </div>

        <div class="col-md-7">
            <div class="card card-body">
            <h5>GPS</h5>
            </div>
            <div class="card card-body">
                <table class="table">
                    <tr>
                        <th>LAT</th>
                        <th>LON</th>
                        <th>TS</th>
                    </tr>
    
                    {% for i in gps_live %}
                        <tr>
                            <td>{{i.lat}}</td>
                            <td>{{i.lon}}</td>

                            <td>{{gpsl_ts}}</td>
    
                        </tr>
                    {% endfor %}
    
            
                </table>
            </div>
        </div>
        
    </div>
    <br>

	<div class="container-fluid">

    <br>
    <div class="head">
        <div class="card card-body">
            <body>
                HISTORICAL DATA
            </body>
        </div>
      </div>
    

    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <h5>OXYD</h5>
            </div>
            <div class="card card-body">
                <table class="table">
                    <tr>
                        <th>PERWGHT</th>
                        <th>TS</th>
                    </tr>

                    {% for i in load %}
                        <tr>
                            <td>{{i.perwght}}</td>
                            <td>{{ldh_ts}}</td>
                        </tr>
                        
                    {% endfor %}
                    
                </table>
            </div>
        </div>

        <div class="col-md-7">
            <div class="card card-body">
            <h5>GPS</h5>
            </div>
            <div class="card card-body">
                <table class="table">
                    <tr>
                        <th>LAT</th>
                        <th>LON</th>
                        <th>TS</th>
                    </tr>
    
                    {% for i in gps %}
                        <tr>
                            <td>{{i.lat}}</td>
                            <td>{{i.lon}}</td>
                            <td>{{gpsh_ts}}</td>
    
                        </tr>
                    {% endfor %}
    
                    {% endblock content %}
                </table>
            </div>
        </div>
        
    </div>

    <br>
    <br><br>
    <div>
        <button onClick="window.location.reload();">Refresh Page</button>
    </div>
</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>